.addFriend{
    height: 100%;
}
.addFriend-search{
    width: 100%;
    height: 60px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 14px;

    >i{
        font-size: 3.5rem;
        color: var(--primary-color);
    }
    >input{
        width: 100%;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.6);
        border: none;
        outline: none;
    }
}
.addFriend-modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addFriend-infoContent{
    position: relative;
    width: 600px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #159C43;
    box-shadow: 0px 0px 6px rgba(21, 156, 67, 0.5);
    border-radius: 20px;
    // overflow: hidden;
    animation: btn-glide ease .5s;
    >i{
        position: absolute;
        top: -4px;
        right: -6px;
        z-index: 1;
        color: var(--red-color);
        font-size: 2rem;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}
.addFriend-none{
    position: relative;
    width: 600px;
    height: 104px;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    >span{
        font-size: 3rem;
        font-weight: 700;
    }
    >i{
        position: absolute;
        top: -4px;
        right: -6px;
        z-index: 1;
        color: var(--red-color);
        font-size: 2rem;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}
.btn-add, .btn-uns{
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    >i{
        margin-right: 8px;
    }
}
.btn-add{
    background-color: rgba(23, 215, 160, 0.8) !important;
    &:hover{
        background-color: var(--third-color);
    }
}
.btn-uns{
    background-color: rgba(235, 69, 95, 0.8) !important;
    &:hover{
        background-color: var(--red-color);
    }
}